@use 'true' as *;
@use '../scss/color/variables' with (
  $colors: (
    'black': #000,
  )
);
@use '../scss/color/functions';
@use '../scss/color/mixins';

$catch-errors: true;

@include test-module('color') {
  @include test-module('functions') {
    @include test-module('get()') {
      @include test('カラーコードを返す') {
        @include assert-equal(functions.get('black'), #000);
      }

      @include test('エラー 未定義の色') {
        @include assert-equal(
          functions.get('unknown'),
          'ERROR [color.get()]: Invalid key, `unknown` is not defined. Choose one of black.'
        );
      }
    }
  }

  @include test-module('mixins') {
    @include test-module('cssvars') {
      @include test('すべての色をCSS変数として出力する') {
        @include assert {
          @include output(false) {
            :root {
              @include mixins.cssvars;
            }
          }

          @include expect(false) {
            :root {
              --color-black: #000;
              --color-black-rgb: 0 0 0;
            }
          }
        }
      }
    }
  }
}
