@use 'true' as *;
@use '../scss/hover/mixins';

$catch-errors: true;

@include test-module('hover') {
  @include test-module('mixins') {
    @include test-module('any') {
      @include test('hoverルールを返す') {
        @include assert {
          @include output(false) {
            a {
              @include mixins.any {
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }

          @include expect(false) {
            @media (any-hover: hover) {
              a:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    @include test-module('this') {
      @include test('hoverルールを返す') {
        @include assert {
          @include output(false) {
            a {
              @include mixins.this {
                text-decoration: underline;
              }
            }
          }

          @include expect(false) {
            @media (any-hover: hover) {
              a:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
