@use 'true' as *;
@use '../scss/hover/mixins';

$catch-errors: true;

@include describe('hover') {
  @include describe('mixins') {
    @include describe('media') {
      @include it('hoverルールを返す') {
        @include output(false) {
          a {
            @include mixins.media {
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      @include expect(false) {
        @media (hover) and (pointer) {
          a:hover {
            text-decoration: underline;
          }
        }
      }
    }

    @include describe('this') {
      @include it('hoverルールを返す') {
        @include output(false) {
          a {
            @include mixins.this {
              text-decoration: underline;
            }
          }
        }
      }

      @include expect(false) {
        @media (hover) and (pointer) {
          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
