////
/// @group breakpoint
////

@use 'sass:map';
@use './functions';
@use './variables';
@use '../unit';

///
/// 幅が指定したブレークポイント以上の場合にスタイルを適用する
///
/// @param {string} $key-value - $breakpointsのキーまたは幅の値
/// @param {string | null} $type [null] - メディアタイプ
///
/// @example scss - scss
///   @use 'sass-utils/breakpoint' with (
///     $breakpoints: ('sp': 0, 'tab': 768px, 'pc': 1200px)
///   );
///
///   .element {
///     @include breakpoint.min('tab') {
///       width: 50%;
///     }
///   }
///
///   .element2 {
///     @include breakpoint.min(1024px) {
///       width: 100%;
///     }
///   }
///
///   .mediatype {
///     @include breakpoint.min('tab', 'screen, print') {
///       color: #f00;
///     }
///   }
///
/// @example css - css
///   @media (768px <= width) {
///     .element {
///       width: 50%;
///     }
///   }
///
///   @media (1024px <= width) {
///     .element2 {
///       width: 100%;
///     }
///   }
///
///   @media screen, print and (768px <= width) {
///     .mediatype {
///       color: #f00;
///     }
///   }
///
@mixin min($key-value, $type: null) {
  $min: if(map.has-key(variables.$breakpoints, $key-value), functions.get-value($key-value), $key-value);

  @if unit.strip($min) != 0 {
    @if $type {
      @media #{$type} and ($min <= width) {
        @content;
      }
    } @else {
      @media ($min <= width) {
        @content;
      }
    }
  } @else {
    @content;
  }
}

/// min-width版
/// 将来的に削除
@mixin min-legacy($key-value, $type: null) {
  $min: if(map.has-key(variables.$breakpoints, $key-value), functions.get-value($key-value), $key-value);

  @if unit.strip($min) != 0 {
    @if $type {
      @media #{$type} and (min-width: $min) {
        @content;
      }
    } @else {
      @media (min-width: $min) {
        @content;
      }
    }
  } @else {
    @content;
  }
}

///
/// 幅が指定したブレークポイント以下の場合にスタイルを適用する
///
/// @param {string} $key-value - $breakpointsのキーまたは幅の値
/// @param {string | null} $type [null] - メディアタイプ
///
/// @example scss - scss
///   @use 'sass-utils/breakpoint' with (
///     $breakpoints: ('sp': 0, 'tab': 768px, 'pc': 1200px)
///   );
///
///   .element {
///     @include breakpoint.max('tab') {
///       width: 50%;
///     }
///   }
///
///   .element2 {
///     @include breakpoint.max(600px) {
///       width: 100%;
///     }
///   }
///
///   .mediatype {
///     @include breakpoint.max('tab', 'screen, print') {
///       color: #f00;
///     }
///   }
///
/// @example css - css
///   @media (width < 1200px) {
///     .element {
///       width: 50%;
///     }
///   }
///
///   @media (width <= 600px) {
///     .element2 {
///       width: 100%;
///     }
///   }
///
///   @media screen, print and (width < 1200px) {
///     .mediatype {
///       color: #f00;
///     }
///   }
///
@mixin max($key-value, $type: null) {
  @if map.has-key(variables.$breakpoints, $key-value) {
    $next: functions.get-next-value($key-value);

    @if $next {
      @if $type {
        @media #{$type} and (width < $next) {
          @content;
        }
      } @else {
        @media (width < $next) {
          @content;
        }
      }
    } @else {
      @content;
    }
  } @else {
    @if $type {
      @media #{$type} and (width <= $key-value) {
        @content;
      }
    } @else {
      @media (width <= $key-value) {
        @content;
      }
    }
  }
}

/// max-width版
/// 将来的に削除
@mixin max-legacy($key, $type: null) {
  @if map.has-key(variables.$breakpoints, $key) {
    $next: functions.get-next-value($key);

    @if $next {
      @if $type {
        @media #{$type} and (max-width: $next - 0.02px) {
          @content;
        }
      } @else {
        @media (max-width: $next - 0.02px) {
          @content;
        }
      }
    } @else {
      @content;
    }
  } @else {
    @if $type {
      @media #{$type} and (max-width: $key-value - 0.02px) {
        @content;
      }
    } @else {
      @media (max-width: $key-value - 0.02px) {
        @content;
      }
    }
  }
}

///
/// 幅が指定したブレークポイントの場合にスタイルを適用する
///
/// @param {string} $key - $breakpointsのキー
/// @param {string | null} $type [null] - メディアタイプ
///
/// @example scss - scss
///   @use 'sass-utils/breakpoint' with (
///     $breakpoints: ('sp': 0, 'tab': 768px, 'pc': 1200px)
///   );
///
///   .element {
///     @include breakpoint.only('tab') {
///       width: 50%;
///     }
///   }
///
///   .mediatype {
///     @include breakpoint.only('tab', 'screen, print') {
///       color: #f00;
///     }
///   }
///
/// @example css - css
///   @media (768px <= width < 1200px) {
///     .element {
///       width: 50%;
///     }
///   }
///
///   @media screen, print and (768px <= width < 1200px) {
///     .mediatype {
///       color: #f00;
///     }
///   }
///
@mixin only($key, $type: null) {
  @if map.has-key(variables.$breakpoints, $key) {
    $min: functions.get-value($key);
    $next: functions.get-next-value($key);

    @if unit.strip($min) != 0 and $next {
      @if $type {
        @media #{$type} and ($min <= width < $next) {
          @content;
        }
      } @else {
        @media ($min <= width < $next) {
          @content;
        }
      }
    } @else if unit.strip($min) == 0 and $next {
      @include max($key, $type) {
        @content;
      }
    } @else if unit.strip($min) != 0 and $next == null {
      @include min($key, $type) {
        @content;
      }
    } @else {
      @content;
    }
  }

  // エラー
  @else {
    @error "Invalid key, `#{$key}` is not defined. Choose one of #{map.keys(variables.$breakpoints)}.";
  }
}

///
/// 幅が指定した2つのブレークポイントの範囲内の場合にスタイルを適用する
///
/// @param {string} $min-key-value - 適用したい最小の$breakpointsのキーまたは幅の値
/// @param {string} $max-key-value - 適用したい最大の$breakpointsのキーまたは幅の値
/// @param {string | null} $type [null] - メディアタイプ
///
/// @example scss - scss
///   @use 'sass-utils/breakpoint' with (
///     $breakpoints: $breakpoints: (
///       'xs': 0,
///       'sm': 480px,
///       'md': 768px,
///       'lg': 960px,
///       'xl': 1200px,
///     )
///   );
///
///   .element {
///     @include breakpoint.between('sm', 'lg') {
///       width: 50%;
///     }
///   }
///
///   .element2 {
///     @include breakpoint.between(1024px, 1440px) {
///       width: 50%;
///     }
///   }
///
///   .mediatype {
///     @include breakpoint.between('sm', 'lg', 'screen, print') {
///       color: #f00;
///     }
///   }
///
/// @example css - css
///   @media (480px <= width < 1200px) {
///     .element {
///       width: 50%;
///     }
///   }
///
///   @media (1024px <= width <= 1440px) {
///     .element2 {
///       width: 50%;
///     }
///   }
///
///   @media screen, print and (480px <= width < 1200px) {
///     .mediatype {
///       color: #f00;
///     }
///   }
///
@mixin between($min-key-value, $max-key-value, $type: null) {
  // $min-key-valueと$max-key-valueがキーの場合
  @if map.has-key(variables.$breakpoints, $min-key-value) and map.has-key(variables.$breakpoints, $max-key-value) {
    $min: functions.get-value($min-key-value);
    $next: functions.get-next-value($max-key-value);

    @if unit.strip($min) != 0 and $next {
      @if $type {
        @media #{$type} and ($min <= width < $next) {
          @content;
        }
      } @else {
        @media ($min <= width < $next) {
          @content;
        }
      }
    } @else if unit.strip($min) == 0 and $next {
      @include max($max-key-value, $type) {
        @content;
      }
    } @else if unit.strip($min) != 0 and $next == null {
      @include min($min-key-value, $type) {
        @content;
      }
    } @else {
      @content;
    }
  }

  // $min-key-valueがキー、$max-key-valueが値の場合
  @else if map.has-key(variables.$breakpoints, $min-key-value) {
    $min: functions.get-value($min-key-value);
    $max: $max-key-value;

    @if unit.strip($min) != 0 {
      @if $type {
        @media #{$type} and ($min <= width <= $max) {
          @content;
        }
      } @else {
        @media ($min <= width <= $max) {
          @content;
        }
      }
    } @else {
      @include max($max, $type) {
        @content;
      }
    }
  }

  // $min-key-valueが値、$max-key-valueがキーの場合
  @else if map.has-key(variables.$breakpoints, $max-key-value) {
    $min: $min-key-value;
    $next: functions.get-next-value($max-key-value);

    @if unit.strip($min) != 0 and $next {
      @if $type {
        @media #{$type} and ($min <= width < $next) {
          @content;
        }
      } @else {
        @media ($min <= width < $next) {
          @content;
        }
      }
    } @else if unit.strip($min) == 0 and $next {
      @include max($max-key-value, $type) {
        @content;
      }
    } @else if unit.strip($min) != 0 and $next == null {
      @include min($min, $type) {
        @content;
      }
    } @else {
      @content;
    }
  }

  // $min-key-valueと$max-key-valueが値の場合
  @else {
    $min: $min-key-value;
    $max: $max-key-value;

    @if unit.strip($min) != 0 {
      @if $type {
        @media #{$type} and ($min <= width <= $max) {
          @content;
        }
      } @else {
        @media ($min <= width <= $max) {
          @content;
        }
      }
    } @else {
      @include max($max, $type) {
        @content;
      }
    }
  }
}
